<p>
  Hi <% @user.first_name %>,
</p>
<p>
  Your item "<%= @finding.item.name %>" has been found and left at a secure location, <%= link_to "click here to see where it is!", finding_url(@finding) %>.
<p>
  Best,
</p>
<p>
  Your RobinGood Team
</p>
