<p>
  Hi <% @user.first_name %>,
</p>
<p>
  Your device "<%= @item.name %>" has been found and at @finding.address. Please log into your account at www.getrobingood.com for further informations.
</p>
<p>
  Best,
</p>
<p>
  Your RobinGood Team
</p>
