<p>
  Hi <% @user.first_name %>,
</p>
<p>
  Thanks for signing up at RobinGood. You've just completed the first step of protecting your valuables.
</p>
<p>
  Best,
</p>
<p>
  Your RobinGood Team
</p>
