.devices-image h3 {
  position: absolute;
  top: 316px;
  right: 39%;
  font-size: 49px;
  text-shadow: 1px 1px 8px black;
  color: white;
}

.devices-image img {
  position: relative;
  opacity: 0.8;
  border-radius: 1rem;
}

.form-control-label {
  font-size: 25px;
  letter-spacing: 3px;
  font-family: "Poppins", "sans-serif";
  margin-bottom: 20px;
  margin-top: 20px;
}
