.devices-image h3 {
  position: absolute;
  top: 316px;
  right: 39%;
  font-size: 49px;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.9);
  color: white;
  font-family: "Poppins", "sans-serif";

}

.devices-image img {
  position: relative;
  opacity: 0.8;
  border-radius: 1rem 1rem 0 0;
}

.form-control-label {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Poppins", "sans-serif";
  margin-bottom: 20px;
  margin-top: 20px;
}
