  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);">

    <div class="container text-center"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.pexels.com/photo/green-pine-tree-leaves-192136/);">
      <h1>Robin Good</h1>
      <p>Give Back. Get Back.</p>
    </div>

    <div class="logo text-center">
      <%= image_tag "logo_transparent", alt: "Logo", width: 200 %>
    </div>

    <div class="text-center">
      <a class="btn btn-info" style="border-radius: 20px;"
        href="#">Activate your QR Code here!</a>
    </div>

  </div>






