<div class="card-video ">
  <div class="card-long pt-3">
    <h1>RobinGood</h1>
    <br>
    <p>Give Back. Get Back.</p>
    <div id="logo">
      <i class="fas fa-feather-alt"></i>
    </div>
    <% if user_signed_in? %>
      <div>
        <%= link_to "My Items", items_path, class: "btn-medium" %>
      </div>
      <div>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn-medium" %>
      </div>
    <% else %>
      <div>
      <%= link_to "Sign In", new_user_session_path, class: "btn-medium" %>
      </div>
      <div>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn-medium" %>
      </div>
    <% end %>

    <div class="page-scroll text-center">
      <a href="#section06" class="btn btn-circle">
          <i class="fa fa-angle-down fa-2x animated"></i>
      </a>
    </div>

  </div>



</div>
  <div class="cards-container card-how" id="section06">
    <div class="header-info">
      <h3>Easily return, retrieve and keep track of items lost on campus using QR technology</h3>
    </div>
    <div class= "row">
      <div class="col">
        <div class="card-square">
           <i class="fas fa-qrcode"></i>
          <p><strong>Step 1:</strong> Order free QR codes</p>
        </div>
      </div>
      <div class="col">
        <div class="card-square">
          <i class="fas fa-mobile"></i>
          <p><strong>Step 2:</strong> Place on your item</p>
        </div>
      </div>
      <div class="col">
        <div class="card-square">
          <i class="fas fa-grin-hearts"></i>
          <p><strong>Step 3:</strong> Get your item back</p>
        </div>
      </div>
    </div>
  </div>
  <div class="cards-container card-causes">
    <div class="header-info">
      <h3>When you get your item back, give back by donating to a community cause</h3>
    </div>
    <div class= "row">
      <div class="col">
        <div class="card-square">
          <i class="fas fa-heart"></i>
          <p>Cause 1</p>
        </div>
      </div>
      <div class="col">
        <div class="card-square">
          <i class="fas fa-dog"></i>
          <p>Cause 2</p>
        </div>
      </div>
      <div class="col">
        <div class="card-square">
          <i class="fas fa-stethoscope"></i>
          <p>Cause 3</p>
        </div>
      </div>
    </div>
  </div>







