<div class="container background-white my-5 p-5 code-card text-center">
  <h1>Thank you!</h1>
  <p>The information will now be passed on to the item's owner!</p>
  <br>
  <%= link_to "Check out RobinGood!", root_path, class: "form-btn"  %>
  <br>
  <br>
  <br>
  <%= image_tag "https://media.giphy.com/media/6LxGaLrEdGNHi/giphy.gif" %>
  <br>
</div>
