<div class="nav-findings">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="d-flex align-items-center">
      <h3><i class="fas fa-feather-alt"></i></h3>
      <h3 id=navbar-text>RobinGood</h3>
    </div>
  <% end %>
</div>

<div class="main-container">
 <div class="card-found">
  <h1 class="highlighted highlighted-red m-2">Well done!</h1>
  <h3 class="opacity-h3 my-4">Please drop the item off now</h3>
  <div class="my-5"><%= link_to "Sign Up for RobinGood!", new_user_registration_path, class: "form-btn"  %></div>
  <div class="my-5"><%= image_tag "https://media.giphy.com/media/6LxGaLrEdGNHi/giphy.gif", style:"width: 80%" %></div>
  </div>
</div>
