<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title highlighted-red" id="exampleModalLabel">Learn More</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        RobinGood allows you to return and retrieve lost items using QR technology. After you complete this form, the <%= @item.name %>'s owner wil be notified that it has been found and is waiting for them at the location you specifiy below. The owner will donate to a cause of your choosing in order to show their appreciation for your good deed!
      </div>
      <div class="modal-footer highlighted-green">
        Give Back. Get Back.
      </div>
    </div>
  </div>
</div>
