<div class="main-container">
  <div class="form-title">
    <h3 class="text-center mb-4">Congrats, we've just set up your first three
      <div class="highlighted-red highlighted">
        QR codes
      </div>
    </h3>
    <div class="qr-mobile qr-borders mb-5">
      <% @codes.sort.each do |code| %>
        <div class="qr-code qr-sendpage-size col-sm-12 col-lg-3">
          <p class="mb-0"><strong>Found this item? Please scan!</strong></p>
          <%= code.qrcode %>
          <p class="mb-0"><strong><i>getrobingood.com</i></strong></p>
        </div>
        <% if code != code.user.codes.last %>
          <div class="seperator">
          </div>
        <% end %>
      <% end %>
    </div>
    <h3 class="text-center mb-4">Now, where would you like us to send them?</h3>
    <div class="d-flex">
      <div class="col-lg-6">
        <%= render "addresses/new_address" %>
      </div>
      <div class="text-center all-addresses-box col-lg-6">
        <div class="address-box">
          <%= render "addresses/existing_addresses" %>
        </div>
      </div>
    </div>
  </div>
</div>


