<div class="container background-white">
  <h1 class="text-center">Your QR codes</h1>
  <div class="d-flex justify-content-around my-5">
    <% @codes.each do |code| %>
      <div class="qr-code col-lg-3">
        <%= code.qrcode %>
      </div>
    <% end %>
  </div>
  <h2 class="text-center">Which address would you like us to send your QR codes to?</h2>
  <%= render "addresses/new_address" %>
</div>
