 <div class="nav-findings">
      <%= link_to root_path, class: "navbar-brand" do %>
      <div class="d-flex align-items-center">
        <h3><i class="fas fa-feather-alt"></i></h3>
        <h3 id=navbar-text>RobinGood</h3>
      </div>
    <% end %>
    <button type="button" data-toggle="modal" data-target="#exampleModal">
      <i class="fas fa-question" id="question-mark"></i>
    </button>
</div>
<div class="main-container">
  <div class="card-finding-show">
    <div class="welcome-items-card">
      <h1>Thank you for scanning!</h1>
      <hr class="green mb-4">
      <p><em>You're a real Robinhood</em></p>
      <h3>This <%= @item.name %> has been tagged with a RobinGood QR code so it can be safely returned to its owner</h3>
      <div class="page-scroll text-center">
          <a href="#section07" class="btn btn-circle" id="finders-page">
            <i class="fa fa-angle-down fa-2x animated"></i>
          </a>
      </div>
    </div>
  </div>
  <%= render 'findings/form' %>
</div>



<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title highlighted-red" id="exampleModalLabel">Learn More</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        RobinGood allows you to return and retrieve lost items using QR technology. After you complete this form, the <%= @item.name %>'s owner wil be notified that it has been found and is waiting for them at the location you specifiy below. The owner will donate to a cause of your choosing in order to show their appreciation for your good deed!
      </div>
      <div class="modal-footer highlighted-green">
        Give Back. Get Back.
      </div>
    </div>
  </div>
</div>

