<div class="finding-cards-container">
  <p class="">Welcome, Robin Hood. Thank you for scanning this item!</p>
  <p>This item has been tagged with a RobinGood QR code so it can be safely returend to its owner.</p>
  <p>Please follow the steps below to help it find its way back:</h3>
   <div class="card-finding-step">
    <p class="step-badge">1</p>
      <p>Drop the <%= @item.name %> off at a secure location (e.g. Starbucks)</p>
   </div>
  <%= render 'findings/form', finding: @finding, item: @item %>
</div>

