<div class="main-container">
  <div class="card-finding-show">
    <h1>Thank you for scanning!</h1>
    <p><em>You're a real Robinhood</em></p>
    <h3>This <%= @item.name %> has been tagged with a RobinGood QR code so it can be safely returned to its owner</h3>
    <div class="page-scroll text-center">
        <a href="#section07" class="btn btn-circle" id="finders-page">
          <i class="fa fa-angle-down fa-2x animated"></i>
        </a>
    </div>
  </div>
  <%= render 'findings/form' %>
</div>






