<div class="container background-white my-5 p-5 code-card">
  <h3 class="">Welcome, Robin Hood. Thank you for scanning this item!</h3>
  <p>This item has been tagged with a RobinGood QR code so it can be safely returend to its owner.</p>
  <h3>Please follow the steps below to help it find its way back:</h3>
  <ol>
    <li>Drop the <%= @item.name %> off at a nearby location</li>
    <li>Complete the details below so the owner knows where to pick it up</li>
    <li>Select a cause for the item's owner to donate to as a thank you for your effort</li>
    <li>Lean back and enjoy your good deed!</li>
  </ol>
  <%= render 'findings/form', finding: @finding, item: @item %>
</div>

