<ul class="list-unstyled">
  <% @items.each do |item| %>
    <li>
      <div class="card-item">
        <div class="card-details">
          <h4><%= item.name %></h4>
          <p><%= item.description %></p>
        </div>
        <div class="card-menu">
          <h4><i class="fas fa-bars"></i></h4>
        </div>
      </div>
    </li>
  <% end %>
</ul>
