<ul class="list-unstyled">
  <% @items.each do |item| %>
    <li>
      <div class="card-item">
        <div class="card-details">
          <h3>
            Name
          </h3>
          <p>
            Description
          </p>
        </div>
        <div class="card-menu">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </li>
  <% end %>
</ul>
