<div class="main-container">

  <div class="cards-item">
    <h4>@ <%= @user.user_name %></h4>
    <div class="profile-picture">
      <%= image_tag "mia_ex",
      class: "avatar-large" %>

      </div>
    <div>
      <%= render 'items-card' %>
    </div>
    <div>
    <h2>
      <%= link_to new_item_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </h2>
  </div>
  </div>
</div>


