.all-addresses-box {
  padding-left: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-left-style: solid;
  border-left-color: grey;
  border-left-width: 2px;
}

.all-addresses-box p {
  padding-left: 10px;
}

.all-addresses-box {
  margin-left: 70px;
}

.address-box {
  padding-top: 5px;
  height: 170px;
  width: 350px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
}

.address-box-active {
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.select-address-btn {
  width: 70%;
  font-size: 12px;
  height: 40px;
}

