.all-addresses-box {
  padding-left: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-left-style: solid;
  border-left-color: grey;
  border-left-width: 2px;
}

.all-addresses-box p {
  padding-left: 10px;
}

.all-addresses-box {
  margin-left: 70px;
}

.address-box-active {
  box-shadow: 0 0 15px rgba(0,0,0,0.7) !important;
}

.select-address-btn {
  width: 70%;
  font-size: 12px;
  height: 40px;
  cursor: pointer;
}

.select-address-btn:hover {
  font-weight: bold;
}

.custom-label legend {
  visibility: hidden;
  height: 0px;
  padding: 0px;
}
