.all-addresses-box {
  padding-left: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-left-style: solid;
  border-left-color: lightgrey;
  border-left-width: 1px;
}

.all-addresses-box p {
  padding-left: 10px;
}

.all-addresses-box {
  margin-left: 70px;
}

.address-box-active {
  box-shadow: 0 0 10px rgba(0,0,0,0.9) !important;
}

.select-address-btn {
  width: 70%;
  font-size: 20px;
  height: 50px;
  font-weight: bold !important;
}

.select-existing-address-btn {
  width: 70% !important;
  font-size: 12px;
  height: 40px;
  background-color: #EE4E71;
  cursor: pointer;
}

.select-existing-address-btn:hover {
  font-weight: bold;
}

.custom-label legend {
  visibility: hidden;
  height: 0px;
  padding: 0px;
}

.user-address-box {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-left: 0px !important;
}

.user-address-box input {
  visibility: hidden;
}

.user-address-box p {
  padding-left: 0px;
  font-size: 18px;
}

.add-new-address-btn {
  background-color: #EE4E71;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
}
