.button {
  border-radius: 20px;
}

.btn-medium {
  border-radius: 30px;
  border: 1px solid white;
  padding: 5px 40px;
  color: white;
  background-color: none;
  display: inline-block;
  margin: 20px 0;
  font-weight: bold;
}

.btn-medium:hover {
  text-decoration: none;
  color: white;
}
