.card-video {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/675949/pexels-photo-675949.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    h1 {
      font-size: 70px;
    }
    p {
      font-size: 40px;
    }
    a {
      font-size: 30px;
    }
}

.card-long {
  text-align: center;
}

.cards-container {
  padding: 50px;
  hr {
    &.pink {
      border-top: 6px solid rgb(255, 0, 129);
      width: 50px;
    }
    &.green {
      border-top: 6px solid #008001;
      width: 50px;
    }
  }
}

.card-square {
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  background: white;
  text-align: center;
  color: $dark-green;
    p {
      font-size: 30px;
    }
    i {
      font-size: 100px;
      margin: 30px;
    }
  box-shadow: 0 0 20px 2px gray;
}


.card-causes {
  background-color: $dark-green;
  h3 {
    color: white;
  }
}

.card-how {
  background-color: white;
}

#logo {
  font-size: 70px;
}

.header-info {
  text-align: center;
  h3 {
    margin-bottom: 30px;
  }
}

.card-found {
  background-color: white;
  border-radius: 1rem;
  @include media-breakpoint-up(sm) {
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
   padding: 50px;
  }
  text-align: center;
  h3 {
    font-size: 22px;
    opacity: 0.4;
    line-height: 2em;
  }
  p {
    font-size: 20px;
    line-height: 3em;
  }
  i {
    color: #ED3371;
    font-size: 26px;
  }
}


.highlighted {
    line-height: 1.1em;
    display: inline-block;
}

.highlighted-red {
    color: #ED3371;
    background: rgba(237,51,113, .1);
    padding-right: 10px;
    padding-left: 10px;

}

.highlighted-green {
    color: #406D32;
    background: rgba(64,109,50,.1);
    padding: 5px;

}


.card-found-paid {
  background-color: white;
  border-radius: 1rem;
  h1 {
  text-align: center;
  }
  @include media-breakpoint-up(sm) {
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
   padding: 50px;
  }
  h3 {
    font-size: 22px;
    opacity: 0.4;
    line-height: 2em;
  }
  p {
    font-size: 20px;
    line-height: 1.5em;
  }
  i {
    color: #ED3371;
    font-size: 20px;
    &.green {
      color: #008001;
    }
  }
  hr {
    &.pink {
      border-top: 6px solid rgb(255, 0, 129);
      width: 50px;
    }
    &.green {
      border-top: 6px solid #008001;
      width: 50px;
    }
  }
}

.card-paid-info {
 @include media-breakpoint-up(sm) {
   width: 30%;
  }

}


