.footer {
  background: white;
  height: 120px;
  padding: 0px 50px;
  color: $dark-green;
  font-size: 18px;
  text-align: center;
  border-top: solid 1px $dark-green;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;

}
.footer-links a {
  color: $dark-green;
  text-decoration: none;
  font-size: 24px;
  padding: 18px 16px;
}

.footer-links a:hover {
  color: rgba( 180, 180, 180, 0.7);
}
.footer .fa-heart {
  color: $dark-green;
}

.fa-heart:hover {
  color: red;
  transform: scale(1.4);
  transition: transform 140ms linear;
}
