.form-container {
  margin: 30px auto;
  width: 50vw;
}

.form-header {
  color: white;
  background-color: $dark-green;
  width: 100%;
  text-align: center;
}

.form-body {
  background-color: white;
  padding: 30px;
  input {
    border-bottom: 1px solid $light-gray;
    outline: none;
    text-decoration: none;
  }
}

.form-btn {
  width: 100%;
  background-color: $yellow;
  color: white;
  text-align: center;
  font-size: 18px;
}

.devices-image img {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
