.main-container {
  margin: 0 auto;
  color: $dark-green;
  padding: 30px;
  background: white;
  min-height: calc(100vh - 200px);
  hr {
    &.pink {
      border-top: 6px solid rgb(255, 0, 129);
      width: 50px;
    }
    &.green {
      border-top: 6px solid #008001;
      width: 50px;
    }
  }
}

.cards-item {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  @include media-breakpoint-up(sm) {
   width: 50%;
  }
}

.card-item {
  display: flex;
  justify-content: space-between;
  align-items: top;
  border-bottom: solid 1px $dark-green;
  padding-top: 20px;
  padding-bottom: 20px;
  h4 {
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  p {
    margin-bottom: 0;
  }
}

.card-details {
  text-align: left;
}

.profile-picture {
  padding: 30px;
}

.dropdown-toggle:after { content: none }

#create-item-btn {
  font-size: 0px;
  visibility: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
}

#hidden-qr-count {
  font-size: 0px;
  visibility: hidden;
}

.card-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hidden-address-btn {
  visibility: hidden;
  font-size: 0px;
}


