.navbar-lewagon {
  justify-content: space-between;
  background: white;
  color: $dark-green;
  border-bottom: 1px solid $dark-green;
  height: 80px;
  padding: 0 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  color: $dark-green;
  text-decoration: none;
    &:hover {
      color: gray;
    }
}
