.background-white {
  background-color: white
}

.qr-sendpage-size svg {
  height: 200px;
  width: 200px;
}

.qr-sendpage-size {
  font-size: 15px;
  box-sizing: content-box;
}

.qr-code {
  text-align: center;
}


.qr-borders {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.seperator {
  border-left-style: solid;
  border-left-color: lightgrey;
  border-left-width: 1px;
}

.qr-img svg {
  height: 60px;
  width: 60px;
}

.qr-img {
  margin-left: 20px;
  margin-right: 20px;
}
